.card-hotel {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 13px rgba(4, 4, 4, 0.08);
  border-radius: 2px;
  max-width: 292px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;

  &:hover {
    text-decoration: none;
  }
}

.card-hotel__img-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 17px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 292px;
  height: 210px;
}

.card-hotel__assessment {
  background-color: #539fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 1px;
  }
}

.card-hotel__like {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #c2185b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-hotel__like-heart {
  background: url("../img/like-heart.png") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 16px;
  display: block;
}

.card-hotel__like-plus {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: 72px;
  position: absolute;
  bottom: -20px;
  right: 9px;
}

.card-hotel__content {
  padding: 19px 19px 15px 19px;
}

.card-hotel__title {
  color: #263238;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 13px;
}

.card-hotel__location {
  display: flex;
  align-items: center;

  color: rgba(38, 50, 56, 0.6);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.16px;
  margin-bottom: 0;
}

.card-hotel__location-icon {
  background: url("../img/navigation_icon.png") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  display: block;
  margin-right: 8px;
}

.card-hotel__content-block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card-hotel__price {
  font-size: 20px;
  letter-spacing: -0.13px;
  color: #263238;
  font-weight: bold;
  margin-bottom: 0;
}

.card-hotel__price-color {
  color: #c2185b;
}

.card-hotel__price-big {
  font-size: 30px;
  letter-spacing: -0.2px;
}

.card-hotel__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-hotel__star {
  background: url("../img/star_standart.png") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
  margin-left: 5px;
  cursor: pointer;
}

.card-hotel__star.active {
  background: url("../img/star_active.png") no-repeat center;
  background-size: 100% auto;
}