.mobil-burger {
  position: absolute;
  right: 15px;
  top: 16px;
  height: 24px;
  width: 15px;
  cursor: pointer;

  span {
    width: 15px;
    height: 2px;
    background: #c01e5c;
    border-radius: 2px;
    position: relative;
    top: 10px;
    display: block;

    &:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 2px;
      background: #c01e5c;
      border-radius: 2px;
      display: block;
      top: -4px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 15px;
      height: 2px;
      background: #c01e5c;
      border-radius: 2px;
      display: block;
      bottom: -4px;
    }
  }
}